In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('/Users/louislimnavong/Desktop/master-thesis/code/data/kindle_reviews.csv')
df.head()

,Unnamed: 0,asin,helpful,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,0,B000F83SZQ,"[0, 0]",5,I enjoy vintage books and movies so I enjoyed ...,"05 5, 2014",A1F6404F1VG29J,Avidreader,Nice vintage story,1399248000
1,1,B000F83SZQ,"[2, 2]",4,This book is a reissue of an old one; the auth...,"01 6, 2014",AN0N05A9LIJEQ,critters,Different...,1388966400
2,2,B000F83SZQ,"[2, 2]",4,This was a fairly interesting read. It had ol...,"04 4, 2014",A795DMNCJILA6,dot,Oldie,1396569600
3,3,B000F83SZQ,"[1, 1]",5,I'd never read any of the Amy Brewster mysteri...,"02 19, 2014",A1FV0SX13TWVXQ,"Elaine H. Turley ""Montana Songbird""",I really liked it.,1392768000
4,4,B000F83SZQ,"[0, 1]",4,"If you like period pieces - clothing, lingo, y...","03 19, 2014",A3SPTOKDG7WBLN,Father Dowling Fan,Period Mystery,1395187200

In [3]:
df['label'] = [1 if grade > 4 else 0 if grade < 2 else 2 for grade in df.overall ]
df_temp = df[['label','reviewText']]
df_temp.head()

   label                                         reviewText
0      1  I enjoy vintage books and movies so I enjoyed ...
1      2  This book is a reissue of an old one; the auth...
2      2  This was a fairly interesting read.  It had ol...
3      1  I'd never read any of the Amy Brewster mysteri...
4      2  If you like period pieces - clothing, lingo, y...

In [4]:
df_temp.groupby('label').count()

       reviewText
label
0           23018
1          575246
2          384333

In [5]:
df1 = df_temp[df_temp['label'] == 0]
df2 = df_temp[df_temp['label'] == 1].sample(n=25000, random_state = 2)
df_full = pd.concat([df1, df2])
df_full.head()

    label                                         reviewText
64      0  He had an english accent which he seemed tryin...
65      0  Somewhat of a disappointment.  The articles we...
66      0  1. Costs more than delivered to your door pape...
67      0  The WSJ for Kindle is overpriced, and the cust...
71      0  I read nearly all my books and magazines on Ki...

# Full dataset n = 50 000

In [10]:
df_full = df_full.sample(frac=1).reset_index(drop=True)

In [11]:
df_full.head()

   label                                         reviewText
0      0  I know this was a short story, but I came away...
1      1  Read part one first. I really enjoyed reading ...
2      1  I was excited to read the back story of Roger'...
3      0  I was very disappointed with this book as a st...
4      0  I am SO glad this book was free! If I had to p...

In [12]:
df_full.to_csv('data/final_full.csv')

In [13]:
df_full_train, df_full_test = train_test_split(df_full, test_size=0.2, random_state=42)

In [14]:
df_full_train.to_csv('data/final_train_full.csv')
df_full_test.to_csv('data/final_test_full.csv')

# Sub dataset n = 5 000

In [13]:
df_sub = df_full.sample(n=5000).reset_index(drop=True)
df_sub.head()

   label                                         reviewText
0      1  Okay... so I admit it...Getting this book was ...
1      1  Louis's book 'Herbal Remedies' clearly outline...
2      0  This was not a type of a story that I enjoy.  ...
3      0  Where to start? First off, the description of ...
4      0  This poorly written book was actually written ...

In [14]:
df_sub.to_csv('data/final_sub.csv')

In [16]:
df_sub_train, df_sub_test = train_test_split(df_sub, test_size=0.2, random_state=42)

In [17]:
df_sub_train.to_csv('data/final_train_sub.csv')
df_sub_test.to_csv('data/final_test_sub.csv')