In [1]:
import pandas as pd 
from langdetect import detect 
from langdetect.lang_detect_exception import LangDetectException

pd.options.display.max_colwidth = 200

In [2]:
def detect_language(string) : 
    try:
        return detect(string)
    except LangDetectException: 
        return 'error'

In [4]:
df = pd.read_csv('data/palantir_result.csv')
df = df[['screenName', 'bio', 'certified']]
print(df.shape)
df.head(2)

(47, 3)

,screenName,bio,certified
0,Palantir_FR,Suivez l’actualité de Palantir France #BigData #Tech #IA,NaN
1,AirAsia,"Welcome to our official Twitter account where we tweet exclusive updates, contests & our low fares. For Customer Support, kindly tweet @AirAsiaSupport",Certified

In [5]:
df1 = df[df['certified'] == 'Certified']
print(df1.shape)
df1.head()

(22, 3)

,screenName,bio,certified
1,AirAsia,"Welcome to our official Twitter account where we tweet exclusive updates, contests & our low fares. For Customer Support, kindly tweet @AirAsiaSupport",Certified
2,JamesCarville,Political strategist. Ragin’ Cajun. Father of two. Louisiana Dem. Gulf Coaster.,Certified
3,Ferrari,"Official account of #Ferrari, \nItalian Excellence that makes the world dream.",Certified
4,AUSTRAC,"Official account for AUSTRAC, Australia's financial intelligence agency. For more info or to contact us, please visit our website.",Certified
5,fcagroup,Welcome to the official Fiat Chrysler Automobiles account. #fiatchrysler #fcagroup,Certified

In [6]:
df_temp = df1[['screenName', 'bio']].dropna()
df_temp['lang'] = [detect_language(text) for text in df_temp.bio]

In [7]:
#df_temp.groupby('lang').count()

In [8]:
df_temp = df_temp[df_temp.lang == 'en'][['screenName', 'bio']]

In [9]:
df_temp = df_temp.reset_index(drop = True)

In [10]:
df_temp.shape

(20, 2)

In [11]:
df_temp.to_csv('data/final_palantir_following.csv')